.banner {
    gap: 24px;
}
.banner .image-container {
    width: 100%;
    height: auto;
}

.family-owned .content {
    height: auto;
}
.faith .hero {
    height: auto;
}
.faith .content {
    gap: 24px;
    flex-direction: row-reverse;
}

.faith .content .text {
    height: 100%;
}

.footer {
    border-top: 1px solid var(--colour-primary-accent);
}

@media (max-width: 769px) {
    .faith .content {
        flex-direction: column;
    }
    .faith .content .hero-img {
        display: none;
    }
}
